{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>
          .site {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}




/* =Content
---------------------------*/
.content-wrapper {
  padding: 40px;
}
.site-content {
  padding-bottom: 40px;
  padding-right: 1%;
  border-bottom: 1px dotted #999;
}
.sidebar {
  padding-top: 45px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
}
.widget {
  padding-bottom: 10px;
  text-decoration: none;
    color: #291D25;

    margin: 0;
    font-weight: 400;
   
    padding: 0px 5px 0px 17px;
}

@media (min-width: 800px) {
  .site-content {
    width: 80%;
    float: left;
    border: none;
  }
  .sidebar {
    width: 20%;
    float: left;
    padding-top: 4px;
    text-align: left;
  }
  .widget {
    padding-left: 20px;
    text-decoration: none;
    color: #291D25;
   
    margin: 0;
    font-weight: 400;
  
    padding: 0px 5px 5px 17px;

  }
}
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;}

    .footer-distributed{
        background-color: #3253a8;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 80px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left{
        width: 30%;
    }
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    /* The company logo */
    
    .footer-distributed .footer-left img{
        width: 30%;
    }
    
    .footer-distributed h3 span{
        color:  #e0ac1c;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center{
        width: 35%;
    }
    
    
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
    }
    
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
    
    .footer-distributed .footer-center p a{
        color:  #e0ac1c;
        text-decoration: none;;
    }
    
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
        width: 30%;
    }
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-right: 3px;
        margin-bottom: 5px;
    }
    @media (max-width: 880px) {

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.footer-distributed .footer-center i{
    margin-left: 0;
}

}
    .carousel-inner{
        height: 550px;
    }</style>
    <br>
    <div class='container'> <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item"><a href="/courses_offered/" style="text-decoration: none;">Courses Offered</a></li>
          <li class="breadcrumb-item active" aria-current="page">Bachelor of Business Administration
          </li>
        </ol>
      </nav></div>
    <div class="site">
        <div class="site-content" style="border-right: 1px dotted #9f9f9f;">
   <h2><b>OBJECTIVE</b></h2><hr>
   
   

   After completion of BBA, the students become capable of securing jobs in a variety of business spheres. The intellectual skills which develop during degree help the students in ascertaining success in the future. BBA accompanies the eligible candidates to thrive in the field of business, education, management, economics, finance, banking, consultancy, FMCG, advertising, media, public accounting, treasury, FOREX, and merchant banking
<br>


<br> 
   <h2><b>CAREER OPPORTUNITIES</b></h2><hr>


  

   In contemporary times, BBA ushers all of the individuals to a wide range of opportunities. Several corporate giants recruit our students annually. With the increasing number of on-campus recruitment, the eminence of the degree can be easily witnessed. Talking of opportunities, an eligible BBA graduate can work as a Finance Manager, Business Administration Researcher, Human Resource Manager, Research and Development Manager, Business Consultant, Information Systems Manager, Marketing Manager, Career development officer, Sales manager, and Recruiting Coordinator. Apart from the abovementioned profiles, the worthy candidates can also build careers in banking, academia, MNCs, and government sectors.
<br> <br>

  <br>
  
   

 <br>
<h2><b>Faculty</b></h2><hr>
<div style="overflow-x: auto;">
<table style="width: 98.3135%; height: 252px;" width="100%" cellpadding='4'>
    <tbody>
    <tr style="height: 18px;">
    <td class="tab_head" style="width: 8.36043%; text-align: center; height: 54px;" rowspan="2"><strong>S. No.</strong></td>
    <td class="tab_head" style="width: 19.3501%; text-align: center; height: 54px;" rowspan="2"><strong>Name</strong></td>
    <td class="tab_head" style="width: 16.2218%; text-align: center; height: 54px;" rowspan="2"><strong>Designation</strong></td>
    <td class="tab_head" style="width: 55.0272%; text-align: center; height: 18px;" colspan="3"><strong>Qualification</strong></td>
    </tr>
    <tr style="height: 36px;">
    <td class="tab_head" style="width: 25.8794%; text-align: center; height: 36px;"><strong>PG</strong></td>
    <td class="tab_head" style="width: 8.41058%; text-align: center; height: 36px;"><strong>Doctorate</strong></td>
    <td class="tab_head" style="width: 20.7372%; text-align: center; height: 36px;"><strong>University Aprroval No.</strong></td>
    </tr>
    <tr style="height: 36px;">
    <td style="width: 8.36043%; height: 36px; text-align: center;">1</td>
    <td style="width: 19.3501%; height: 36px; text-align: left;">Ms. Anuja Goel</td>
    <td style="width: 16.2218%; height: 36px; text-align: left;">HOD/Asso. Prof.</td>
    <td style="width: 25.8794%; height: 36px; text-align: left;">MBA, NET-JRF, NCFM</td>
    <td style="width: 8.41058%; height: 36px; text-align: center;">--</td>
    <td style="width: 20.7372%; height: 36px; text-align: center;">CBA166B/2010/12611</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 8.36043%; height: 18px; text-align: center;">2</td>
    <td style="width: 19.3501%; height: 18px; text-align: left;">Mr. Ankush Singla</td>
    <td style="width: 16.2218%; height: 18px; text-align: left;">Asst. Prof.</td>
    <td style="width: 25.8794%; height: 18px; text-align: left;">MBA, NET-UGC</td>
    <td style="width: 8.41058%; height: 18px; text-align: center;">--</td>
    <td style="width: 20.7372%; height: 18px; text-align: center;">Proceedings approved</td>
    </tr>
    <tr style="height: 36px;">
    <td style="width: 8.36043%; height: 36px; text-align: center;">3</td>
    <td style="width: 19.3501%; height: 36px; text-align: left;">Dr. Rajni Kamboj</td>
    <td style="width: 16.2218%; height: 36px; text-align: left;">Asst. Prof.</td>
    <td style="width: 25.8794%; height: 36px; text-align: left;">MBA, PGDST, NET-UGC (Mgt. &amp; Commerce)</td>
    <td style="width: 8.41058%; height: 36px; text-align: center;">Ph.D</td>
    <td style="width: 20.7372%; height: 36px; text-align: center;">Proceedings approved</td>
    </tr>
    <tr style="height: 36px;">
    <td style="width: 8.36043%; height: 36px; text-align: center;">4</td>
    <td style="width: 19.3501%; height: 36px; text-align: left;">Mr. Rahul Sharma</td>
    <td style="width: 16.2218%; height: 36px; text-align: left;">Asst. Prof.</td>
    <td style="width: 25.8794%; height: 36px; text-align: left;">MBA, M.Com., NET-UGC (Mgt. &amp; Commerce)</td>
    <td style="width: 8.41058%; height: 36px; text-align: center;">—</td>
    <td style="width: 20.7372%; height: 36px; text-align: center;">Proceedings approved</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 8.36043%; height: 18px; text-align: center;">5</td>
    <td style="width: 19.3501%; height: 18px; text-align: left;">Ms. Ashima Bansal</td>
    <td style="width: 16.2218%; height: 18px; text-align: left;">Asst. Prof.</td>
    <td style="width: 25.8794%; height: 18px; text-align: left;">MBA, NET-UGC</td>
    <td style="width: 8.41058%; height: 18px; text-align: center;">—</td>
    <td style="width: 20.7372%; height: 18px; text-align: center;">Proceedings approved</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 8.36043%; height: 18px; text-align: center;">6</td>
    <td style="width: 19.3501%; height: 18px; text-align: left;">Ms. Anjum Aggarwal</td>
    <td style="width: 16.2218%; height: 18px; text-align: left;">Asst. Prof.</td>
    <td style="width: 25.8794%; height: 18px; text-align: left;">MBA</td>
    <td style="width: 8.41058%; height: 18px; text-align: center;">—</td>
    <td style="width: 20.7372%; height: 18px; text-align: center;">—</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 8.36043%; height: 18px; text-align: center;">7</td>
    <td style="width: 19.3501%; height: 18px; text-align: left;">Mr. Rahul Dev Bakshi</td>
    <td style="width: 16.2218%; height: 18px; text-align: left;">Asst. Prof.</td>
    <td style="width: 25.8794%; height: 18px; text-align: left;">MBA, NET-UGC</td>
    <td style="width: 8.41058%; height: 18px; text-align: center;">—</td>
    <td style="width: 20.7372%; height: 18px; text-align: center;">—</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 8.36043%; height: 18px; text-align: center;">8</td>
    <td style="width: 19.3501%; height: 18px; text-align: left;">Ms. Riya Kapoor</td>
    <td style="width: 16.2218%; height: 18px; text-align: left;">Asst. Prof.</td>
    <td style="width: 25.8794%; height: 18px; text-align: left;">MBA</td>
    <td style="width: 8.41058%; height: 18px; text-align: center;">—</td>
    <td style="width: 20.7372%; height: 18px; text-align: center;">—</td>
    </tr>
    </tbody>
    </table></div>
    <br>
    
   <br> <br>
   <h2><b>Syllabus</b></h2><hr>
   <div style="overflow-x: auto;">
   <table width="100%" cellpadding='4'>
    <tbody>
    <tr>
    <td>BBA 1st Sem SHB</td>
    <td><a href="https://jmit.ac.in/downloads/files/n5fd4870c3d8ef.pdf" target="_blank" rel="noopener">Download</a></td>
    </tr>
    <tr>
    <td>BBA 2nd Sem SHB</td>
    <td><a href="https://jmit.ac.in/downloads/files/n5fd4872f767cb.pdf" target="_blank" rel="noopener">Download</a></td>
    </tr>
    <tr>
    <td>BBA 3rd Sem SHB</td>
    <td><a href="https://jmit.ac.in/downloads/files/n5fd48743950ff.pdf" target="_blank" rel="noopener">Download</a></td>
    </tr>
    <tr>
    <td>BBA 4th Sem SHB</td>
    <td><a href="https://jmit.ac.in/downloads/files/n5fd48753bc469.pdf" target="_blank" rel="noopener">Download</a></td>
    </tr>
    <tr>
    <td>BBA 5th Sem SHB</td>
    <td><a href="https://jmit.ac.in/downloads/files/n5fd4876d91838.pdf" target="_blank" rel="noopener">Download</a></td>
    </tr>
    <tr>
    <td>BBA 6th Sem SHB</td>
    <td><a href="https://jmit.ac.in/downloads/files/n5fd4877907733.pdf" target="_blank" rel="noopener">Download</a></td>
    </tr>
    </tbody>
    </table></div>
    <br>
    <h2><b>GALLERY</b></h2><hr>
    <img src='https://www.jmit.ac.in/downloads/nimages/FDPMgt-1.jpg' height="200px" width="300px" style="max-width: 100%;"> &nbsp;
    <img src='https://www.jmit.ac.in/downloads/nimages/EL-MBA-3.jpg' height="200px" width="300px" style="max-width: 100%;">
</div>


<div class="sidebar">
           
     
           
    <h3 class="widget widget-header"  style="border-bottom: 1px dotted #9f9f9f;">More Links</h3> <br>
   <a href="/admission_procedure/" class='widget' >PROCEDURE</a>  <br>
    
    <a href="/courses_offered/" class='widget'>Courses Offered</a> <br> 
    <a href="/cs/" class='widget'> &nbsp;&nbsp;-Computer Science</a> <br>
    <a href="/it/" class='widget'> &nbsp;&nbsp;-Information Technology</a> <br>
    <a href="/mech/" class='widget'> &nbsp;&nbsp;-Mechanical</a> <br>
    <a href="/ece/" class='widget'> &nbsp;&nbsp;-Electronics and communication</a> <br>
    <a href="/ele/" class='widget'> &nbsp;&nbsp;-Electrical</a> <br>
    <a href="/ash/" class='widget'> &nbsp;&nbsp;-Applied Science and Humanities</a> <br>
    <a href="/bba/" class='widget'> &nbsp;&nbsp;-Bachelor of Business Administration</a> <br>
    <a href="/mba/" class='widget'> &nbsp;&nbsp;-Master of Business Administration</a> <br>
    <a href="/bca/" class='widget'> &nbsp;&nbsp;-Bachelor of Computer Application</a> <br>
    <a href="/mca/" class='widget'> &nbsp;&nbsp;-Master of Computer Application</a> <br>
    <a href="/fees/" class='widget' >Fee Structure</a> <br>
    <a href="/Epros/" class='widget' >E-Prospectus</a>
 
</div><!-- .sidebar -->
</div>




    <footer class="footer-distributed">

        <div class="footer-left">
     
            <h3>About<span>JMIT</span></h3>
    
            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>
    
          
        </div>
    
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span></span>
                    Radaur-135133
                    (Distt. Yamuna Nagar)<br>
                    Haryana </p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>01732-283700, 283800</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:director@jmit.ac.in">director@jmit.ac.in</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the College</span>
                We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/jmitinstitute/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/jmitcollege?lang=en"><i class="fab fa-twitter"></i></a>
          
                <a href="https://in.linkedin.com/school/seth-jai-prakash-mukand-lal-institute-of-engineering-&-technology-jmit-/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/c/JmitCollege/videos?app=desktop&view=0&sort=dd&shelf_id=1"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    {% endblock %}