{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>
        .site {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}




/* =Content
---------------------------*/
.content-wrapper {
  padding: 40px;
}
.site-content {
  padding-bottom: 40px;
  padding-right: 1%;
  border-bottom: 1px dotted #999;
}
.sidebar {
  padding-top: 45px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
}
.widget {
  padding-bottom: 10px;
  text-decoration: none;
    color: #291D25;

    margin: 0;
    font-weight: 400;
   
    padding: 0px 5px 0px 17px;
}

@media (min-width: 800px) {
  .site-content {
    width: 80%;
    float: left;
    border: none;
  }
  .sidebar {
    width: 20%;
    float: left;
    padding-top: 4px;
    text-align: left;
  }
  .widget {
    padding-left: 20px;
    text-decoration: none;
    color: #291D25;
   
    margin: 0;
    font-weight: 400;
  
    padding: 0px 5px 5px 17px;

  }
}
/*footer*/
    
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;}

    .footer-distributed{
        background-color: #3253a8;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 80px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left{
        width: 30%;
    }
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    /* The company logo */
    
    .footer-distributed .footer-left img{
        width: 30%;
    }
    
    .footer-distributed h3 span{
        color:  #e0ac1c;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center{
        width: 35%;
    }
    
    
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
    }
    
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
    
    .footer-distributed .footer-center p a{
        color:  #e0ac1c;
        text-decoration: none;;
    }
    
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
        width: 30%;
    }
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-right: 3px;
        margin-bottom: 5px;
    }
    @media (max-width: 880px) {

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.footer-distributed .footer-center i{
    margin-left: 0;
}

}
    .carousel-inner{
        height: 550px;
    }</style>
    <br>
    <div class='container'> <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item"><a href="/courses_offered/" style="text-decoration: none;">Courses Offered</a></li>
          <li class="breadcrumb-item active" aria-current="page">Electrical Engineering
          </li>
        </ol>
      </nav></div>
    <div class="site">
        <div class="site-content" style="border-right: 1px dotted #9f9f9f;">
   <h2>SCOPE</h2>
   
   

   Electrical Engineering as a career and field of study has a high scope in India even beyond what is examined. It is a field that drives every other one since its application in electricity is the power behind all forms of industry either small or well established one. It will ever continue to grow as time passes. Electrical engineering generally deals with the generation of electricity, the transmission and the distribution to the consumers. <br> <br>
   Pursue Electrical Engineering at Best Electrical Engineering College in Punjab, works with intent to craft Professionals, Researchers and Entrepreneurs through the industry aligned prospectus, state-of-the-art labs and experiential learning.

<br> <br>
   <h2>ABOUT THE DEPARTMENT</h2>
   Electrical engineering is a field of engineering that generally deals with the study and application of electricity, electronics and electromagnetism. The field first became an identifiable occupation in the late nineteenth century after commercialization of the electric telegraph and electrical power supply. <br>

Major Areas of Electrical Engineering are Power Generation & Transmission, Automation & Control, Renewable / Clean Energy, Energy Audit and Consumer Durables. <br>

Electrical engineering may include electronic engineering. Where a distinction is made, usually outside of the United States, electrical engineering is considered to deal with the problems associated with large-scale electrical systems such as power transmission and motor control, whereas electronic engineering deals with the study of small-scale electronic systems including computers and integrated circuits. Alternatively, electrical engineers are usually concerned with using electricity to transmit energy, while electronic engineers are concerned with using electricity to transmit information. More recently, the distinction has become blurred by the growth of power electronics.
<br> <br>
<div style="overflow-x: auto;">
<table cellpadding='3'>
    <tbody>
    <tr>
    <td><img src="https://jmit.ac.in/downloads/nimages/FEP-1.jpg" height=280px width=350px></td>
    <td><img src="https://www.jmit.ac.in/downloads/nimages/ELE-FEP-March_2021-1.jpg"></td>
    </tr>
    </tbody>
    </table></div>
  


  <br><h2>Career Opportunities </h2>


  

  Electrical engineers can find a number of employment opportunities in various different sectors. Some of the top sectors that hire electrical engineers are listed below: <br>
<br>
  Engineering Services <br>
  Electric power generating installations <br>
  Indian Railways <br>
  Aerospace Manufacture Industry <br>
  Automobile Industry <br>
  Airports Authority of India <br>
  Electricity transmission and distribution organizations <br>
  Government Electrical Works Department <br>
  Navigational equipment manufacturing industries <br>
  Architecture and Construction Firms <br>

<br> <br>

  <h2>ACHIEVEMENTS</h2>
  <div style="overflow-x: auto;">
  <table cellpadding='3'>
    <tbody>
    <tr>
    <td>S.No.</td>
    <td>Activity</td>
    </tr>
    <tr>
    <td>1</td>
    <td>Vikram Sheoran Roll No. 1210757 has secured 98.8% in CAT exam held in November 13.</td>
    </tr>
    <tr>
    <td>2</td>
    <td>Manjeet Singh, Roll No. 1210727, has cleared the F-CAT exam for the armed forces, held recently and has gone for final stage of interview.</td>
    </tr>
    </tbody>
    </table></div>
    <br>
    <h2>
        HIGHLIGHTS</h2>
       
    -06 Fully Equipped Laboratories and 02 Live Labs <br>
    -Academic MoU with NITTTR, Chandigarh and IIT, Delhi. <br>
    -Centre of Excellence: Industrial Instrumentation & Automation (PLC, SCADA & HMI), <br>
    -Training for Technical Software of Electrical Engineering (PLS-CADD Ultra Lite, AutoCAD (Electrical), ETAP, OrCAD-16.6) <br>
    -On-Campus MATLAB classes <br>
    -Personality Development Classes <br>
    -Industrial visits for practical exposure <br>
    -Workshops and Expert lectures <br>
    -Technical Fest <br>
    -GATE & Aptitude classes from experts <br>
    -Earn while Learn scheme <br>
    -Internet and Wi-Fi facility <br>
    -Mock Interviews and GDs <br>
    -Use of Research Papers in Teaching & Projects <br>
    -Outcome based Modern Teaching aids like PPTs, Video Lectures and Virtual Labs <br>


 <br>
<h2>Faculty</h2>
<div style="overflow-x: auto;">
<table style="width: 100%;" width="100%">
    <tbody>
    <tr>
    <td class="tab_head" style="width: 6.05449%; text-align: center;" rowspan="2"><strong>S. No.</strong></td>
    <td class="tab_head" style="width: 25.0252%; text-align: center;" rowspan="2"><strong>Name of The Teaching Faculty</strong></td>
    <td class="tab_head" style="width: 23.933%; text-align: center;" rowspan="2"><strong>Designation</strong></td>
    <td class="tab_head" style="width: 43.3727%; text-align: center;" colspan="3"><strong>Qualification</strong></td>
    </tr>
    <tr>
    <td class="tab_head" style="width: 12.4002%; text-align: center;"><strong>PG</strong></td>
    <td class="tab_head" style="width: 11.6475%; text-align: center;"><strong>Doctorate</strong></td>
    <td class="tab_head" style="width: 19.325%; text-align: center;"><strong>University Aprroval No.</strong></td>
    </tr>
    <tr>
    <td style="width: 6.05449%;">1</td>
    <td style="width: 25.0252%;">Dr. Rishi Sarup Sharma</td>
    <td style="width: 23.933%;">Off. HOD/ Asso. Prof.</td>
    <td style="width: 12.4002%;">M.Tech.</td>
    <td style="width: 11.6475%;">Ph.D</td>
    <td style="width: 19.325%;">CBA166B/2009/18612</td>
    </tr>
    <tr>
    <td style="width: 6.05449%;">2</td>
    <td style="width: 25.0252%;">Mr. Maninder Singh</td>
    <td style="width: 23.933%;">Asst. Prof.</td>
    <td style="width: 12.4002%;">M.Tech.</td>
    <td style="width: 11.6475%;">--</td>
    <td style="width: 19.325%;">CBA166B/2013/20683</td>
    </tr>
    <tr>
    <td style="width: 6.05449%;">3</td>
    <td style="width: 25.0252%;">Ms. Preet Kanwal</td>
    <td style="width: 23.933%;">Asst. Prof.</td>
    <td style="width: 12.4002%;">M.Tech.</td>
    <td style="width: 11.6475%;">--</td>
    <td style="width: 19.325%;">--</td>
    </tr>
    </tbody>
    </table cellpadding='4'></div>
    <br>
    
   <h2>Syllabus</h2>
   <table style="width:100%;border-collapse:collapse;" class="padding" cellspacing="0" cellpadding="3" bordercolor="#DDDDDD" border="1">
    <tbody><tr>
        <td class="trbg" width="80" align="center"><b>Sr. No.</b></td>
        <td class="trbg"><b>Name</b></td>
        <td class="trbg" width="110">&nbsp;</td>
    </tr><tr>
                <td align="center">1</td>
                <td>Scheme 1st Year</td>
                <td><a href="{% static '1year.pdf' %}" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">2</td>
                <td>Student Handbook 3rd sem</td>
                <td><a href="downloads/files/n5f536019c7c8c.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">3</td>
               <td> Student Handbook 4th sem</td>
                <td><a href="downloads/files/n5f53604f73648.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">4</td>
                <td>Student Handbook 5th Sem</td>
                <td><a href="downloads/files/n5fd08b948f5db.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">5</td>
                <td>Student Handbook 6th Sem</td>
                <td><a href="downloads/files/n6053122746eca.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">6</td>
                <td>Student Handbook 7th sem</td>
                <td><a href="downloads/files/n5f536066e68ad.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">7</td>
                <td>Student Handbook 8th Sem</td>
                <td><a href="downloads/files/n6053123f9b03d.pdf" target="_blank" class="download">Download</a></td>
            </tr></tbody></table>
   
</div>
<div class="sidebar">
           
      
           
    <h3 class="widget widget-header"  style="border-bottom: 1px dotted #9f9f9f;">More Links</h3> <br>
   <a href="/admission_procedure/" class='widget' >PROCEDURE</a>  <br>
    
    <a href="/courses_offered/" class='widget'>Courses Offered</a> <br> 
    <a href="/cs/" class='widget'> &nbsp;&nbsp;-Computer Science</a> <br>
    <a href="/it/" class='widget'> &nbsp;&nbsp;-Information Technology</a> <br>
    <a href="/mech/" class='widget'> &nbsp;&nbsp;-Mechanical</a> <br>
    <a href="/ece/" class='widget'> &nbsp;&nbsp;-Electronics and communication</a> <br>
    <a href="/ele/" class='widget'> &nbsp;&nbsp;-Electrical</a> <br>
    <a href="/ash/" class='widget'> &nbsp;&nbsp;-Applied Science and Humanities</a> <br>
    <a href="/bba/" class='widget'> &nbsp;&nbsp;-Bachelor of Business Administration</a> <br>
    <a href="/mba/" class='widget'> &nbsp;&nbsp;-Master of Business Administration</a> <br>
    <a href="/bca/" class='widget'> &nbsp;&nbsp;-Bachelor of Computer Application</a> <br>
    <a href="/mca/" class='widget'> &nbsp;&nbsp;-Master of Computer Application</a> <br>
    <a href="/fees/" class='widget' >Fee Structure</a> <br>
    <a href="/Epros/" class='widget' >E-Prospectus</a>
 
</div><!-- .sidebar -->
</div>






    <footer class="footer-distributed">

        <div class="footer-left">
     
            <h3>About<span>JMIT</span></h3>
    
            <p class="footer-links">
                <a href="http://127.0.0.1:8000/">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>
    
          
        </div>
    
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span></span>
                    Radaur-135133
                    (Distt. Yamuna Nagar)<br>
                    Haryana </p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>01732-283700, 283800</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:director@jmit.ac.in">director@jmit.ac.in</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the College</span>
                We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/jmitinstitute/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/jmitcollege?lang=en"><i class="fab fa-twitter"></i></a>
          
                <a href="https://in.linkedin.com/school/seth-jai-prakash-mukand-lal-institute-of-engineering-&-technology-jmit-/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/c/JmitCollege/videos?app=desktop&view=0&sort=dd&shelf_id=1"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    {% endblock %}