

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel=”stylesheet” href=”css/bootstrap.css”>
<link rel=”stylesheet” href=”css/bootstrap-responsive.css”>
    <title>JMIT</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
      </script>
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      
    <link rel="shortcut icon" class = "img-responsive" type="image/ico" href="{% static 'image/newlogo.ico' %}">

</head>
    <body>
  <br>
<div class="container">
  
      <img src="https://www.jmit.ac.in/templates/jmit/images/logo.png" style="width:100%;height:95px;max-width: 100%;"><br><br>
</div>
<nav class="navbar navbar-expand-lg navbar-light sticky-top navbar-inverse" style="background-color: #3253a8 ; width:100%;" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="navbar-brand nav-link active" href="http://127.0.0.1:8000/">HOME</a>
        <a class="navbar-brand nav-link active" aria-current="page" href="#"></a>
          <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>ABOUT US</strong>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="/overview/" >Overview</a></li>
                <li><a class="dropdown-item" href="/socialrespons/" >Social Responsibilities</a></li>
                <li><a class="dropdown-item" href="/achievements/" >Awards and Achievements </a></li>
                  <li><a class="dropdown-item " href="/rulesandregulation/">Rules and Regulations</a></li>
              </ul>
          </div>
        <a class="navbar-brand nav-link active" href="#"></a>
          <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>INFRASTRUCTRE</strong>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item " href="/campus/">Campus</a></li>
                <li><a class="dropdown-item " href="/lab/">Labs</a></li>
                <li><a class="dropdown-item " href="/library/">Library</a></li>
                <li><a class="dropdown-item " href="/audi/">Auditorium</a></li>
                <li><a class="dropdown-item " href="/dispensary/">Dispensary</a></li>
                <li><a class="dropdown-item " href="/hostel/">Hostels</a></li>
                <li><a class="dropdown-item " href="/sports/">Sports</a></li>
              </ul>
          </div>
        <a class="navbar-brand nav-link active" href="#"></a>
          <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>ACADEMICS</strong>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item " href="/aoverview/">Overview</a></li>
                <li><a class="dropdown-item " href="/ac/">Academic Calender</a></li>
               
                <li><a class="dropdown-item " href="/R&D/">R&D</a></li>
                <li><a class="dropdown-item " href="/scholarship/">Schlorships</a></li>
              </ul>
          </div>
        <a class="navbar-brand nav-link active" href="#"></a>
          <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>ADMISSION</strong>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton5">
                <li><a class="dropdown-item " href="/admission_procedure/">Procedure</a></li>
                <li><a class="dropdown-item " href="/courses_offered/">Courses Offered</a></li>
                <li><a class="dropdown-item" href="/fees/">Fee Structure</a></li>
                <li><a class="dropdown-item " href="/Epros/">E-Prospectus</a></li>
              </ul>

          </div>
          <a class="navbar-brand nav-link active" href="#"></a>
          <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>PLACEMENTS</strong>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton6">
                <li><a class="dropdown-item " href="/placement/">Placements</a></li>
                  <li><a class="dropdown-item " href="/edcell/">Enterpreneurship Cell</a></li>
                <li><a class="dropdown-item " href="/training/">Trainings</a></li>
               
              </ul>
          </div>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
        &nbsp;
          &nbsp;
            &nbsp;
              &nbsp;
                &nbsp;
                  &nbsp;
                    &nbsp;
                      &nbsp;
                        &nbsp;
                          &nbsp;
                            &nbsp;
                              &nbsp;
                                &nbsp;
                                  &nbsp;
                                    &nbsp;
                                      &nbsp;
                                        &nbsp;
                                          &nbsp;
                                            &nbsp;
                                              &nbsp;
                                                &nbsp;
                                                  &nbsp;
                                                    &nbsp;
                                                      &nbsp;
                                                        &nbsp;


  <a class="btn btn-primary" href='http://127.0.0.1:8000/login/'  id="dropdownMenuButton6" style="background-color: #3253a8;" aria-expanded="false"><font color="black"><strong>Login</strong></font></a>
</div>
</div>

      </div>
    </div>
  </div>
</nav>


{% block content %}


{% endblock %}


</body>

</html>


	
	
	
