{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>/*footer*/
        .site {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}




/* =Content
---------------------------*/
.content-wrapper {
  padding: 40px;
}
.site-content {
  padding-bottom: 40px;
  padding-right: 1%;
  border-bottom: 1px dotted #999;
}
.sidebar {
  padding-top: 45px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
}
.widget {
  padding-bottom: 10px;
  text-decoration: none;
    color: #291D25;

    margin: 0;
    font-weight: 400;
   
    padding: 0px 5px 0px 17px;
}

@media (min-width: 800px) {
  .site-content {
    width: 80%;
    float: left;
    border: none;
  }
  .sidebar {
    width: 20%;
    float: left;
    padding-top: 4px;
    text-align: left;
  }
  .widget {
    padding-left: 20px;
    text-decoration: none;
    color: #291D25;
   
    margin: 0;
    font-weight: 400;
  
    padding: 0px 5px 5px 17px;

  }
}
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;}

    .footer-distributed{
        background-color: #3253a8;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 80px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left{
        width: 30%;
    }
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    /* The company logo */
    
    .footer-distributed .footer-left img{
        width: 30%;
    }
    
    .footer-distributed h3 span{
        color:  #e0ac1c;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center{
        width: 35%;
    }
    
    
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
    }
    
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
    
    .footer-distributed .footer-center p a{
        color:  #e0ac1c;
        text-decoration: none;;
    }
    
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
        width: 30%;
    }
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-right: 3px;
        margin-bottom: 5px;
    }
    @media (max-width: 880px) {

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.footer-distributed .footer-center i{
    margin-left: 0;
}

}
    .carousel-inner{
        height: 550px;
    }</style>
    <br>
    <div class='container'> <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item"><a href="/courses_offered/" style="text-decoration: none;">Courses Offered</a></li>
          <li class="breadcrumb-item active" aria-current="page">Mechanical Engineering
          </li>
        </ol>
      </nav></div>
    <div class="site">
        <div class="site-content" style="border-right: 1px dotted #9f9f9f;">
   <h2>OBJECTIVE</h2>
   
   



   The world we see today is running on wheels of machines everywhere around us, which have not only reduced the manual efforts to a large extent but has also helped students to have a great future ahead. JMIT is an institute that believes in delivering premium quality education to the students pursuing undergraduate or postgraduate programs in the stream of mechanical engineering. Take a glimpse at some of the primary objectives of B. Tech Mechanical Engineering: <br>

   -Help students learn more about the designing of machines with high precision <br>
   -Preparing students for successful careers in private industry, and government sector <br>
   -Apply, critical thinking and problem-solving skills in professional engineering practice or in non-engineering fields, such as law, medicine or business <br>
   -Make students identify, formulate and solve mechanical engineering problems <br>




<br> 
   <h2>BENEFITS</h2>
B.Tech Mechanical course available at JMIT,RADAUR is a boon for students who want to have a successful career in future. Some of its major benefits are: <br><br>

   -Offers placement to the students of Mechanical Engineering in elite government organisations like ISRO, DRDO, Indian armed forces – Navy, Army and Air Force <br>
   -Helps students come up with innovative ideas that can help in resolving problems of climate change, food, water and energy crisis. <br>
   -Imbibes students with mechanical engineering skills that are highly valued in society <br>
   -Ensures students develop a strong foothold in the working of manufacturing industries <br>
   -Determines that students get exposure in developing new technologies for a number of industries including transport, healthcare, construction, robotics <br>




  <br><h2>Career Opportunities </h2>

  Mechanical Engineering Program is not confined to the boundaries of theoretical knowledge. It has so many more strands attached that unfurl amazing opportunities for the students doing B.Tech mechanical after they attain the degree.
  Whether the students are seeking job options in Maharatna and Navratna companies like NTPC, BHEL, GAIL, IOCL, NHPC, etc., or they want to join globally recognized companies, like MRF, Royal Enfield, etc. JMIT RADAUR helps them in getting employed at any of these with astounding packages.
  Despite saying this, it is important to remember that the future increment in the remuneration of the candidates will depend profusely on their skills, knowledge and experience. That is why it is important for students to select the mechanical engineering program only if they have interest in it. As far as the jobs are concerned, Mechanical engineers with degree in B.Tech Mechanical can serve the following designations and these are:
   <br> <br>
      -Automotive Engineer <br>
      -Maintenance Engineer <br>
      -Control and Instrumentation Engineer <br>
      -Marine Engineer <br>
      -Mechanical Engineer <br>
  
  

<br> <br>

  <h2>Centres of Excellence</h2>
  <div class="row">
    <div class="col-md-6 col-xs-12" style="border: 1px solid #d3d3d3; padding: 5px; text-align: center;"><img src="https://jmit.ac.in/downloads/nimages/me-daikin.jpg" alt="" width="100%"><br>DAIKIN Air-Conditioning</div>
    <div class="col-md-6 col-xs-12" style="border: 1px solid #d3d3d3; padding: 5px; text-align: center;"><img src="https://jmit.ac.in/downloads/nimages/me-cnc.jpg" alt="" width="100%"><br>Computerized Numerical Control (CnC)</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12" style="border: 1px solid #d3d3d3; padding: 5px; text-align: center;"><img src="https://jmit.ac.in/downloads/nimages/me-cad.jpg" alt="" width="100%"><br>Computer Aided Design (CAD)</div>
        <div class="col-md-6 col-xs-12" style="border: 1px solid #d3d3d3; padding: 5px; text-align: center;"><img src="https://jmit.ac.in/downloads/nimages/virtual-lab.jpg" alt="" width="100%"><br>Virtual Lab</div>
        </div>
    <br>
    

 <br>
<h2>Faculty</h2>
<div style="overflow-x: auto;">
<table style="width: 100%; height: 144px;" width="100%">
    <tbody>
    <tr style="height: 18px;">
    <td class="tab_head" style="width: 7.4672%; height: 36px; text-align: center;" rowspan="2"><strong>S. No.</strong></td>
    <td class="tab_head" style="width: 27.8506%; height: 36px; text-align: center;" rowspan="2"><strong>Name of The Teaching Faculty</strong></td>
    <td class="tab_head" style="width: 24.9244%; height: 36px; text-align: center;" rowspan="2"><strong>Designation</strong></td>
    <td class="tab_head" style="width: 38.1433%; height: 18px; text-align: center;" colspan="3">Qualification</td>
    </tr>
    <tr style="height: 18px;">
    <td class="tab_head" style="width: 7.06357%; height: 18px; text-align: center;">PG</td>
    <td class="tab_head" style="width: 9.38446%; height: 18px; text-align: center;">Doctorate</td>
    <td class="tab_head" style="width: 21.6953%; height: 18px; text-align: center;">University Aprroval No.</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 7.4672%; height: 18px;">1</td>
    <td style="width: 27.8506%; height: 18px;">Mr. Pankaj Sharma</td>
    <td style="width: 24.9244%; height: 18px;">Off. HOD/ Asst. Prof.</td>
    <td style="width: 7.06357%; height: 18px;">M.Tech.</td>
    <td style="width: 9.38446%; height: 18px;">Pursuing</td>
    <td style="width: 21.6953%; height: 18px;">CBA166B/2013/11952</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 7.4672%; height: 18px;">2</td>
    <td style="width: 27.8506%; height: 18px;">Mr. Dimple Kumar</td>
    <td style="width: 24.9244%; height: 18px;">Asst. Prof.</td>
    <td style="width: 7.06357%; height: 18px;">M.Tech.</td>
    <td style="width: 9.38446%; height: 18px;">Pursuing</td>
    <td style="width: 21.6953%; height: 18px;">CBA166B/2012/13939</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 7.4672%; height: 18px;">3</td>
    <td style="width: 27.8506%; height: 18px;">Mr. Rajneesh Chaudhary</td>
    <td style="width: 24.9244%; height: 18px;">Asst. Prof.</td>
    <td style="width: 7.06357%; height: 18px;">M.Tech.</td>
    <td style="width: 9.38446%; height: 18px;">Pursuing</td>
    <td style="width: 21.6953%; height: 18px;">CBA166B/2013/11956</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 7.4672%; height: 18px;">4</td>
    <td style="width: 27.8506%; height: 18px;">Mr. Nitin Kumar Saluja</td>
    <td style="width: 24.9244%; height: 18px;">Asst. Prof.</td>
    <td style="width: 7.06357%; height: 18px;">M.Tech.</td>
    <td style="width: 9.38446%; height: 18px;">Pursuing</td>
    <td style="width: 21.6953%; height: 18px;">CBA66B/2013/11950</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 7.4672%; height: 18px;">5</td>
    <td style="width: 27.8506%; height: 18px;">Mr. Gagandeep Chawla</td>
    <td style="width: 24.9244%; height: 18px;">Asst. Prof.</td>
    <td style="width: 7.06357%; height: 18px;">M.Tech.</td>
    <td style="width: 9.38446%; height: 18px;">Pursuing</td>
    <td style="width: 21.6953%; height: 18px;">CBA166B/2013/11948</td>
    </tr>
    </tbody>
    </table></div>
    <br>
    <h2>Achievements</h2>
    Our students from preceding batch cleared National level competitions including GATE, GRE and pursuing M. Tech. from reputed institutions such as IITs, NITs, Thapar Univ., Patiala, PEC Chandigarh, DEC Delhi. Besides, students are employed in industries viz. Mahindra & Mahindra, TCS,Tech Mahindra, QH Talbros, ISGEC, FORD etc.
    
   <br> <br>
   <h2>Syllabus</h2>
   <table style="width:100%;border-collapse:collapse;" class="padding" cellspacing="0" cellpadding="3" bordercolor="#DDDDDD" border="1">
    <tbody><tr>
        <td class="trbg" width="80" align="center"><b>Sr. No.</b></td>
        <td class="trbg"><b>Name</b></td>
        <td class="trbg" width="110">&nbsp;</td>
    </tr><tr>
                <td align="center">1</td>
                <td>Scheme 1st Year</td>
                <td><a href="{% static '1year.pdf' %}" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">2</td>
                <td>Student Handbook 3rd sem</td>
                <td><a href="downloads/files/n5f536019c7c8c.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">3</td>
               <td> Student Handbook 4th sem</td>
                <td><a href="downloads/files/n5f53604f73648.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">4</td>
                <td>Student Handbook 5th Sem</td>
                <td><a href="downloads/files/n5fd08b948f5db.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">5</td>
                <td>Student Handbook 6th Sem</td>
                <td><a href="downloads/files/n6053122746eca.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">6</td>
                <td>Student Handbook 7th sem</td>
                <td><a href="downloads/files/n5f536066e68ad.pdf" target="_blank" class="download">Download</a></td>
            </tr><tr>
                <td align="center">7</td>
                <td>Student Handbook 8th Sem</td>
                <td><a href="downloads/files/n6053123f9b03d.pdf" target="_blank" class="download">Download</a></td>
            </tr></tbody></table>
   
</div>

<div class="sidebar">
           
      
           
    <h3 class="widget widget-header"  style="border-bottom: 1px dotted #9f9f9f;">More Links</h3> <br>
   <a href="/admission_procedure/" class='widget' >PROCEDURE</a>  <br>
    
    <a href="/courses_offered/" class='widget'>Courses Offered</a> <br> 
    <a href="/cs/" class='widget'> &nbsp;&nbsp;-Computer Science</a> <br>
    <a href="/it/" class='widget'> &nbsp;&nbsp;-Information Technology</a> <br>
    <a href="/mech/" class='widget'> &nbsp;&nbsp;-Mechanical</a> <br>
    <a href="/ece/" class='widget'> &nbsp;&nbsp;-Electronics and communication</a> <br>
    <a href="/ele/" class='widget'> &nbsp;&nbsp;-Electrical</a> <br>
    <a href="/ash/" class='widget'> &nbsp;&nbsp;-Applied Science and Humanities</a> <br>
    <a href="/bba/" class='widget'> &nbsp;&nbsp;-Bachelor of Business Administration</a> <br>
    <a href="/mba/" class='widget'> &nbsp;&nbsp;-Master of Business Administration</a> <br>
    <a href="/bca/" class='widget'> &nbsp;&nbsp;-Bachelor of Computer Application</a> <br>
    <a href="/mca/" class='widget'> &nbsp;&nbsp;-Master of Computer Application</a> <br>
    <a href="/fees/" class='widget' >Fee Structure</a> <br>
    <a href="/Epros/" class='widget' >E-Prospectus</a>
 
</div><!-- .sidebar -->
</div>





    <footer class="footer-distributed">

        <div class="footer-left">
     
            <h3>About<span>JMIT</span></h3>
    
            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>
    
          
        </div>
    
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span></span>
                    Radaur-135133
                    (Distt. Yamuna Nagar)<br>
                    Haryana </p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>01732-283700, 283800</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:director@jmit.ac.in">director@jmit.ac.in</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the College</span>
                We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/jmitinstitute/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/jmitcollege?lang=en"><i class="fab fa-twitter"></i></a>
          
                <a href="https://in.linkedin.com/school/seth-jai-prakash-mukand-lal-institute-of-engineering-&-technology-jmit-/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/c/JmitCollege/videos?app=desktop&view=0&sort=dd&shelf_id=1"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    {% endblock %}