{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>
        .site {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}




/* =Content
---------------------------*/
.content-wrapper {
  padding: 40px;
}
.site-content {
  padding-bottom: 40px;
  padding-right: 1%;
  border-bottom: 1px dotted #999;
}
.sidebar {
  padding-top: 45px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
}
.widget {
  padding-bottom: 10px;
  text-decoration: none;
    color: #291D25;

    margin: 0;
    font-weight: 400;
   
    padding: 0px 5px 0px 17px;
}

@media (min-width: 800px) {
  .site-content {
    width: 80%;
    float: left;
    border: none;
  }
  .sidebar {
    width: 20%;
    float: left;
    padding-top: 4px;
    text-align: left;
  }
  .widget {
    padding-left: 20px;
    text-decoration: none;
    color: #291D25;
   
    margin: 0;
    font-weight: 400;
  
    padding: 0px 5px 5px 17px;

  }
}
/*footer*/
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
  .footer-distributed{
      background-color: #3253a8;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 50px 50px 60px 50px;
      margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 30%;
  }
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Cookie', cursive;
      margin: 0;
  }
  
  /* The company logo */
  
  .footer-distributed .footer-left img{
      width: 30%;
  }
  
  .footer-distributed h3 span{
      color:  #e0ac1c;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #8f9296;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  #e0ac1c;
      text-decoration: none;;
  }
  
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 30%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  @media (max-width: 880px) {

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.footer-distributed .footer-center i{
  margin-left: 0;
}

}
  .carousel-inner{
      height: 550px;
  }</style>
<br>
<div class='container'> <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Social Responsibilities
    </li>
  </ol>
</nav></div>
<div class="site">
    <div class="site-content" style="border-right: 1px dotted #9f9f9f;">
  <h2>Blood Donation Mela:</h2>
  <br>
      <img src="{% static 'image/bd1.png' %}" style="width:450px;height:380px;max-width: 100%;">

&nbsp;
    
  <img src="{% static 'image/bd2.png' %}" style="width:450px;height:380px;max-width: 100%;">
    
  <br>
  <br>
  <h2>Tree Plantation Drives:</h2>
  Green Campus aims to make environmental awareness and action an intrinsic part of the life and ethos of our institute. JMIT endeavors to extend learning beyond the lecture room to develop responsible attitudes and commitment to the environment, both at home and in the wider community. We contribute in the following ways in Green Campus - Clean Campus initiative.

At JMIT, we are actively involved in tree plantation in nearby areas/ villages to increase the green cover. In JMIT, 75 % campus is green covered.
<br>
  <br>
  
      <img src="{% static 'image/treep3.jpg' %}" style="width:450px;height:380px;max-width: 100%;">

   
    &nbsp;
  <img src="{% static 'image/treep4.jpg' %}" style="width:450px;height:380px;max-width: 100%;">
    
  <br>
  <br>
  <h2>INTEREST FREE STUDY LOAN:</h2>
   Interest free study loan on merit & means basis to needy students.
  <br>
   Interest free study loan for higher education in the country or abroad.
   <br>
   <br>
<center>
  <img  src="{% static 'image/studyloan.png' %}" style="width:550px;height:400px;max-width: 100%;">
   </center>
  <h2>GO GREEN:</h2>
  <br>
  <h4><strong>Reuse-Reproduce-Recycle</strong></h4>
  <p>Three great ways we can eliminate waste and protect your environment! At JMIT, we follow the policy of Reuse-Reproduce-Recycle by using natural resources wisely and by not throwing anything that can be recycled.</p>
  <br>
  <h4>Swachh Bharat Campaign:</h4>
  <p>JMIT is actively involved in "Swachh Bharat Campaign" by organizing activities such as debate competitions, plays, painting competitions to spread awareness among students and staff.</p>
  <h4>Go Green Club:</h4>
  <p>JMIT is actively involved in "Go Green Club" by organizing activities such as debate competitions, plays, painting competitions to spread awareness among students and staff.</p>
  <br>
  
    <img src="{% static 'image/gogreen.jpg' %}"  alt="Snow" style="width:300px;height:300px;max-width: 100%;">
  
&nbsp;
    <img src="{% static 'image/gogreen1.jpg' %}" alt="Forest" style="width:300px;height:300px;max-width: 100%;">
  
  &nbsp;
    <img src="{% static 'image/gogreen2.jpg' %}"  alt="Mountains" style="width:300px;height:300px;max-width: 100%;">
 
<br><br>
<h2>BOOK BANK SCHEME:</h2>
<br>
<strong>Book Bank</strong>
<ul>
  <li>The library has book bank facilities for all the students of JMIT.</li>
  <li>Each student is issued at most 2 books with exception to economically weaker students who can get issued 3-4 books with special permission.</li>
  <li>Book bank books are issued for full session.</li>
</ul>
<strong>Inter Library Loan</strong>
<br>
 The Institute is a member of DELNET (Developing Library Network) a major resource-sharing library network. The inter library loan and Document Delivery Services are provided through DELNET on demand.
<br>
<br>
<strong>Conditions for Loan</strong>
<ul>
  <li>Library member is required to come to the library personally to take books/documents on loan.</li>
  <li>Reference Books and the special material are issued to the members for overnight only.</li>
  <li>No library document will be given on loan, which is not in a condition to be safely handled by the borrower.</li>
  <li>Before getting books issued, any mutilation or markings should be pointed out immediately by the member to the circulation in-charge and his initials be obtained there, otherwise the borrower shall be responsible for mutilation or markings discovered afterwards.</li>
  <li>Librarian reserves the right to recall any book/ library document issued to the members even prior to the due date of return.</li>
</ul><hr>
  </div>
  <div class="sidebar">
           
      
           
    <h3 class="widget widget-header"  style="border-bottom: 1px dotted #9f9f9f;">More Links</h3> <br>
   <a href="/overview/" class='widget' >Overview</a>  <br>
    
    <a href="/socialrespons/" class='widget'>Social Responsibilities</a> <br>
    <a href="/achievements/" class='widget' >Awards and Achievements</a> <br>
    <a href="/rulesandregulation/" class='widget' >Rules and Regulations</a> <br>
    
</div><!-- .sidebar -->
</div>



<footer class="footer-distributed">

  <div class="footer-left">

      <h3>About<span>JMIT</span></h3>

      <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">About</a>
          |
          <a href="#">Contact</a>
      </p>

    
  </div>

  <div class="footer-center">
      <div>
          <i class="fa fa-map-marker"></i>
            <p><span></span>
              Radaur-135133
              (Distt. Yamuna Nagar)<br>
              Haryana </p>
      </div>

      <div>
          <i class="fa fa-phone"></i>
          <p>01732-283700, 283800</p>
      </div>
      <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:director@jmit.ac.in">director@jmit.ac.in</a></p>
      </div>
  </div>
  <div class="footer-right">
      <p class="footer-company-about">
          <span>About the College</span>
          We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
      <div class="footer-icons">
          <a href="https://www.facebook.com/jmitinstitute/"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/jmitcollege?lang=en"><i class="fab fa-twitter"></i></a>
    
          <a href="https://in.linkedin.com/school/seth-jai-prakash-mukand-lal-institute-of-engineering-&-technology-jmit-/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.youtube.com/c/JmitCollege/videos?app=desktop&view=0&sort=dd&shelf_id=1"><i class="fab fa-youtube"></i></a>
      </div>
  </div>
</footer>

{% endblock %}